.container {
  width: 100%;
  padding: 2rem 0;
}

h1.title {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: var(--primary);
  margin-bottom: 1rem;
}

section.reviews-section {
  margin-top: 2rem;
  padding: 0 1.5rem;
}

h2.reviews-section-title {
  text-align: center;
  color: var(--gray-500);
}

div.reviews-container {
  max-height: 600px;
  max-width: 800px;
  margin: 0 auto;
  overflow-y: auto;
  margin-top: 2rem;
}

.review {
  background-color: var(--gray-100);
  border-radius: 4px;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.review:last-child {
  margin-bottom: 0;
}

header.review-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

img.review-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

span.review-name {
  font-weight: 600;
}

p.review-text {
  margin-top: 1rem;
  color: var(--gray-500);
  font-style: italic;
}

.faq-section {
  margin-top: 4rem;
  background-color: var(--background-secondary);
  padding: 4rem 0;
}

h2.faq-title {
  text-align: center;
  color: var(--gray-500);
}

div.faq-container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 1rem;
}

div.faq {
  padding: 0.5rem 1rem;
  cursor: pointer;

  border: 1px solid var(--primary);
  border-radius: 4px;

  margin-bottom: 1rem;
  margin-right: 0.5rem;

  transition: 0.2s;
}

.question-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.faq:last-child {
  margin-bottom: 0;
}

div.faq:hover {
  background-color: var(--gray-100);
}

span.question {
  color: var(--primary);
  font-weight: 600;
}

img.arrow-icon-down {
  width: 24px;
  height: 24px;
}

img.arrow-icon-down.invisible {
  display: none;
}

img.arrow-icon-up {
  display: none;
}

img.arrow-icon-up.visible {
  width: 24px;
  height: 24px;
  display: block;
}

p.answer {
  display: none;
}

p.answer.visible {
  display: block;
  color: var(--gray-500);
  margin: 1rem 0;
}

section.references {
  margin-top: 4rem;
  padding: 0 2rem 1.5rem;
}

h2.references-title {
  font-weight: 400;
  text-align: center;
}

div.references-images {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

img.reference-img {
  width: 300px;
  max-height: 180px;
}

p.reference-msr {
  text-align: center;
  font-size: 0.875rem;
  font-style: italic;
  color: var(--gray-500);
  margin-top: 1rem;
}

ul {
  color: var(--gray-500);
  max-width: 900px;
  margin: 2rem auto 0;
}

li {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  h2.faq-title {
    font-size: 2rem;
  }

  div.references-images {
    flex-direction: row;
    gap: 4rem;
  }
}
